*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, html{
    background-color: #ff787b;

}


header{
    text-align: center;
    margin:  auto;
    color: white;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/*Main*/
form{
    background-color: #2e3240 ;
    color: white;
    
}
h2{
    margin-left: 10%;
    padding-top: 1em;
}

div{
    margin-top: 3em;
    margin-left: 10%;    
}

p{
    font-size: 20px;
    margin-bottom: .5em;
    
}

label{
    font-size: 18px;
}

input{
    margin-left: 1.5rem;
    margin-top: 1em;
}

#submit{
    text-align: center;
    margin: 2em 0em 5em 10%;
    font-size: 18px;
    padding: .5rem 1rem;
    border-radius: 4px none;

}