*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, html{
    background-color: #ff787b;

}


header{
    text-align: center;
    color: white;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: -3px 4px 13px #000000;
    
}

.result{
    display: none;

}
.container-lead{
    font-size: 2em;
    text-align: center;
    margin-bottom: 2em;
    color: white;
    text-shadow: -3px 4px 13px #000000;
}

span{
    font-size: 4rem;
}

/*Main*/
form{
    background-color: #2e3240 ;
    color: white;
    
}
h2{
    margin-left: 10%;
    padding-top: 2em;
    font-size: 26px;
    text-shadow: -3px 4px 13px #000000;
}

.qd{
    margin-top: 3em;
    margin-left: 10%;    
}

.pq{
    font-size: 20px;
    margin-bottom: .5em;
    text-shadow: -3px 4px 13px #000000;
}

label{
    font-size: 18px;
}

input{
    margin-left: 1.5rem;
    margin-top: 1em;
}

#submit{
    text-align: center;
    margin: 2em 0em 5em 10%;
    font-size: 18px;
    padding: .5rem 1rem;
    border-radius: 4px none;
    text-shadow: -3px 4px 13px #000000;
}